<div>
    <div>
        <h3><%= recipe.name %> </h3>
        <div>ingredient : <%= recipe.ingredient %></div>
        <div>step: <%= recipe.ingredient %></div>
        <div>Created At: <%= moment(recipe.createdAt).fromNow() %></div>
        <div>Updated At: <%= moment(recipe.updatedAt).fromNow() %></div>
    </div>

    <br>

    <br>
    

</div>